form {
  max-width: 450px;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: var(--other-color);
  color: white;
  border: 1px solid #ccc;
  border-radius: 1em;
  box-shadow: 5px 5px 10px var(--main-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form h1 {
  text-align: center;
  letter-spacing: 3px;
  color: black;
}

input,
textarea {
  font: 1em sans-serif;
  width: 100%;
  box-sizing: border-box;
  padding: 0.6em;
  border: 2px solid var(--o2-color);
  border-radius: 5px;
  background-color: white;
  color: black;
  border: 1px solid #ddd;
  border-color: black;
}

input:focus,
textarea:focus {
  outline-style: solid;
  outline-color: #000;
}

textarea {
  height: 6em;
  resize: vertical;
}

button {
  padding: 0.7em 0em;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #ddd;
  color: #000000;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: var(--o2-color);
}

.moveDown {
  margin-top: 2.4em;
}

#feedback {
  color: black;
  background: #f0f0f0;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}